body{
    font-family: 'Allerta', sans-serif;
    font-size: 70%;
}

h1{
    text-align: center;
}
section{
    margin-top:  4em;
}
article{
   
    height: 28em;

}
.imagen{
   
  background-image: url(../img/Scarecrow.png);
 background-size: 100%;
 background-repeat: no-repeat;
  
}
a{
    display: block;
    text-align: center;
    background-color: darkcyan;
    width: 35%;
    margin-left: 25%;
    color: beige;
    padding: 1em;
    text-decoration: none;
    transition: 1.5ms;
    margin-top: 2em;
    
    
}
a:hover{
    opacity: 0.5;
}
.texto{
 
    width: 100%;

    margin-top: 5em;
    text-align: center;

}

@media screen  and (min-width:47em) {
    body{
        font-size: 90%;
    }
    section{
       display: flex;
       flex-direction: column;
       text-align: center;
       margin-left: 2em;
    }
   
   
   
    article{
   
        height: 38em;
      
    
    }
    .imagen{
      background-image: url(../img/Scarecrow.png);
     background-size: 85%;
     background-repeat: no-repeat;
     margin-left: 4em;
      
    }
    a{
        display: block;
       text-align: center;
        background-color: darkcyan;
        width: 20%;
        margin-left: 39%;
        color: beige;
        padding: 1em;
        text-decoration: none; 
        transition: 1.5ms;
        font-size: 1.5em;
        
        
    }
    a:hover{
        opacity: 0.5;
    }
    .texto{
      
      margin-top: 0;
    }
  p{
      font-size: 1.5em;
  }
  h2{
      font-size: 2em;
  }
  h1{
      font-size: 3em;
  }
    
}

@media screen  and (min-width:60em) {
    body{
        font-size: 100%;
    }
    
    h1{
        text-align: justify;
        font-size: 2em;
    }
   
    section{
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-top: 5em;
        
    }
    article{
        width: calc(50% - 15px); 
        height: 50em;
        max-width: 100%;
       
        
     
    
    
    }
    .imagen{
      background-image: url(../img/Scarecrow.png);
     background-size: 100%;
     background-repeat: no-repeat;
      
    }
    a{
        display: block;
       text-align: center;
        background-color: darkcyan;
        width: 20%;
        margin-left: 39%;
        color: beige;
        padding: 1em;
        text-decoration: none; 
        transition: 1.5ms;
        font-size: 1em;
        
        
    }
    a:hover{
        opacity: 0.5;
    }
    .texto{
       margin-top: 8em;
       
    }
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 1em;
    }

    
}
